.button{
    width: 200px;
    height: 100px;
    color: black;
    border: 2px solid rgb(255, 0, 0);
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 40vw;
    top: 50vh;
}